@charset "UTF-8";
  body {
        background-color: #f0f5ff; /* Light blue background */
    }
    .container {
        max-width: 500px; /* Limit container width for better readability */
    }
    .form-group {
        margin-bottom: 1rem; /* Add space between form groups */
    }
    label {
        color: #007bff; /* Blue label text color */
        font-size: 0.9rem; /* Decrease label font size */
    }
    input[type="text"],
    input[type="number"],
    select,
    textarea {
        border-radius: 0; /* Remove border radius */
        border-color: #007bff; /* Blue border color */
        background-color: #fff; /* White background */
        color: #495057; /* Default text color */
        font-size: 0.9rem; /* Decrease input font size */
        outline: none; /* Remove outline */
        box-shadow: none; /* Remove box-shadow */
    }
    .form-control:focus {
        border-color: #007bff; /* Blue border color on focus */
        box-shadow: none; /* Remove box-shadow on focus */
    }
    .input-group-text {
        background-color: #007bff; /* Blue background for input group text */
        border-color: #007bff; /* Blue border color for input group text */
        color: #fff; /* White text color */
    }
    .btn-primary {
        background-color: #007bff; /* Blue button background */
        border-color: #007bff; /* Blue button border color */
    }
    .btn-primary:hover {
        background-color: #0056b3; /* Darker blue on hover */
        border-color: #0056b3; /* Darker blue border on hover */
    }
    h2.mb-4 {
        color: #007bff; /* Blue title text color */
    text-shadow: 
        -1px -1px 0 #888,  
         1px -1px 0 #888,
        -1px  1px 0 #888,
         1px  1px 0 #888;
    }